{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "comma-dangle": [1, "never"],
    "semi": [0],
    "key-spacing": [0, {
      "beforeColon": true,
      "afterColon": true
    }],
    "quotes": [0],
    "no-else-return": 0,
    "space-before-function-paren": [0, "always"],
    "object-curly-spacing": 0,
    "spaced-comment": 0,
    "space-in-parens": 0,
    "array-bracket-spacing": 0,
    "arrow-body-style": 0,
    "arrow-parens": 0,
    "max-len": 0,
    "consistent-return": 0,
    "react/jsx-filename-extension": 0
  }
}